**/node_modules
src/main/webapp/static/node_modules
**/dist
src/main/webapp/static/dist
**/.tmp
src/main/webapp/static/.tmp
**/.sass-cache
src/main/webapp/static/.sass-cache
**/portal/bower_components
src/main/webapp/static/portal/bower_components
target
target-grunt
